.THIS .changeCursor{
    cursor:pointer;
}
.THIS .unstyled-button {
  border: none;
  padding: 0;
  background: none;
}

.THIS .header-font {
   font-size: 150%;
}
.THIS.exampleHolder{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}